body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    padding: 18px;
}

#centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    color: #555;
}

#loginForm {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}

input {
    width: 200px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}